*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
   /* Created with https://www.css-gradient.com */
background: #49C6D6;
background: -webkit-linear-gradient(top left, #49C6D6, #40B4EA);
background: -moz-linear-gradient(top left, #49C6D6, #40B4EA);
background: linear-gradient(to bottom right, #49C6D6, #40B4EA);
    box-sizing: border-box;
background-repeat: no-repeat;
height: 100vh;
width: 100%;

}
#titleBar{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 70px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    /* margin: 10px; */
}
#titleBar #stage{
    color: white;
}
#titleBar #steps{
    color: white;
}
#trainingHolder{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.clearButton{
    background: rgb(244, 55, 55);
    box-shadow: 0 8px 32px 0 rgba(244, 55, 55 ,0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 70px;
    margin-top: 10px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}
.trainButton{
    background:rgba(223, 223, 225, 0.1);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
;
   
}



/* next button  */




/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* //loader */
#checkmark_stopButton{
    display: none;
}
#checkmark_startButton{
    display: none;
}

/* traing button  */

.trainBtn{
    color: white;
}

/* video container  */

#videoHolder{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    /* border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: min-content;
    border-radius: 50px;
    width: max-content;
    /* padding: 10px; */

}

#video{
    height:350px;
    width: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0;
    display: block !important;
}

/* input form area */

#new-word{
  border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid white;
    margin-top: 10px;
    font-size: 18px;
    padding: 5px;
    color: white;
}
#new-word::placeholder{
  color: white;
}
#submit-word{
  background: rgb(0, 200, 255);
  color: white;
  padding: 8px;
  margin-left: 3px;
  font-size: 18px;
  border: none;
}

#trainingHolder{
  margin-top: 50px;
  width: 400px;
  padding: 20px;
  height: max-content;
  
}
.checkMark{
  display: none;
}


/* //gesture cards */
.trained-gestures{
  background: rgba( 255, 255, 255, 0.4 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 7px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  color: white;
  height: fit-content;
  font-weight: 800;
}


/* video  call disabling */

#videoCallBtn{
  display: none!important;
}

#welcomeContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #49C6D6;
  background: -webkit-linear-gradient(top left, #49C6D6, #40B4EA);
  background: -moz-linear-gradient(top left, #49C6D6, #40B4EA);
  background: linear-gradient(to bottom right, #49C6D6, #40B4EA);
}
table{
  width: 500px!important;
  padding: 20px!important;
  /* border: 1px solid black!important; */
  color: white;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  /* border-radius: 10px; */
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  font-size: 20px;
  border-collapse: collapse;
}

table th{
  border: 1px solid white!important;
  padding: 20px;
  
}

table td{
  border: 1px solid white!important;

}

.WelcomeHead{
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  position: absolute;
  top: 3%;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  margin: 10px;
  border-radius: 50px;
}